* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Poppins', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
}

h1 {
  font-size: 15px;
  margin-bottom: 15px;
}

.content {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.container {
  flex-direction: column;
  height: 100vh;
}

.banner > img {
  width: 100%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px;
}

.list {
  height: 350px;
  overflow-y: auto;
}

.input {
  justify-content: center;
  position: fixed;
  right: 20px;
  left: 20px;
  bottom: 30px;
}

button {
  border-radius: 10px;
  padding: 5px 15px;
  margin-left: 15px;
}

#list li {
  width: 100%;
  background-color: #ededed;
  border-radius: 8px;
  padding: 10px 0;
  height: 50px;
  margin-bottom: 5px;
  justify-content: center;
  align-items: center;
}



#input-list {
  border: 0;
  border-bottom: 1px solid lightgrey;
  outline: 0;
}

#input-list:focus {
  border-bottom: 1px solid #adadad;
}

#add {
  background-color: #e6e6e6;
  outline: none;
  border: 0;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.fa-edit {
  color: #3b95ad;
}

.fa-minus-circle {
  color: #c24a4a;
}

/* utilities */
.uppercase {
  text-transform: uppercase;
}

.txt-center {
  text-align: center;
}

.flex {
  display: flex;
}
